###
### ! SaltStack managed file !
### Your changes may be reverted at any given point in time.
### Contact your sysadmin for permanent changes.
###
#
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

{% for iface, settings in salt['pillar.get']('interfaces',{}).items() -%}
  {% if iface.startswith('br') and settings.haskey('type') and settings.haskey('uplink') %}
    {% if settings['type'] == 'ovs' %}
      {% if not ovs_bridge.exists(iface) %}
        {% set iface = settings.uplink %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if settings.has_key('comment') -%}
# {{ settings['comment'] }}
  {%- endif -%}
auto {{ iface }}
  {%- if iface.startswith('vlan') -%}
    {%- set vlan = iface[4:] -%}
  {%- elif iface.split('.')|count == 2 and iface.split('.')[1].isalnum() -%}
    {%- set raw_iface = iface.split('.')[0] -%}
    {%- set vlan = iface.split('.')[1] %}
  {%- else %}
    {%- set vlan = False %}
    {%- set raw_iface = salt['pillar.get']('interfaces:'+iface+':raw_iface') %}
  {%- endif %}
  {%- if settings.has_key('v4addr') %}
iface {{ iface }} inet static
    {% if vlan -%}
    vlan-raw-ifaceice {{ raw_iface }}
    {% endif -%}
    {% set addr = salt['net_addr.ip'](settings['v4addr']).values()[0] -%}
    {% set subnet = salt['pillar.get']('subnets:' + addr['cidr'], {}) -%}
    address   {{ addr['ip'] }}
    netmask	  {{ addr['netmask'] }}
    network   {{ addr['network'] }}
    {% if settings.has_key('primary') -%}
	gateway   {{ subnet['gateway'] }}
    {% endif -%}
	broadcast {{ addr['broadcast'] }}
  {%- endif %}
  {% if settings.haskey('uplink') and iface != settings['uplink'] %}
# {{ settings['uplink'] }} as uplink for {{ iface }}:
iface {{ settings['uplink'] }} inet manual
  post-up ip link set promisc on $IFACE
  pre-down ip link set promisc off $IFACE
  {% endif %}
  {% if settings.has_key('v6addr') %}
iface {{ iface }} inet6 static
  {%- set addr = salt['net_addr.ip'](settings['v6addr']).values()[0] %}
  {%- set subnet = salt['pillar.get']('subnets:' + addr['cidr']|replace(":","_")) %}
    address   {{ addr['ip'] }}
    netmask   {{ addr['prefixlen'] }}
    {%- if subnet.has_key('privext') %}
    privext   {{ subnet['privext'] }}
    {%- endif %}
    {%- if subnet.has_key('scope') %}
    scope     {{ subnet['scope'] }}
    {%- else %} # is scope necessary for inet6? {% endif %} {% endif %}
{% endfor %}
